<!-- Intro: vídeo 1 (auto) -->
<section class="intro" #introSection [class.hope--hidden]="scrubReady">
  <video
    #videoIntro
    class="intro__video"
    src="assets/videos/hope-moment1.mp4"
    preload="auto"
    autoplay
    playsinline
  ></video>
</section>

<!-- Scrub: vídeo 2 (oculto hasta que termine el 1) -->
<section class="hope" #scrubSection [class.hope--hidden]="!scrubReady">
  <div class="overlay"></div>

  <video
    #videoScrub
    class="hope__video"
    muted
    playsinline
    preload="auto"
    poster=""
  >
    <source src="assets/videos/hope-moment2-scrub.mp4"  type="video/mp4" />
  </video>

  <button class="skip" type="button" (click)="skip()">Saltar</button>
</section>
